<div class="customer-dashboard">
  <div *ngFor="let car of cars" class="car-card">
    <div class="car-image">
      <img [src]="car.processedImage" alt="{{car.name}}">
    </div>
    <div class="car-info">
      <h2 class="car-title">{{car.brand}} - {{car.name}}</h2>
      <p class="car-description">{{car.description}}</p>
      <div class="car-details">
        <p><strong>Price:</strong> ${{car.price}}</p>
        <p><strong>Color:</strong> {{car.color}}</p>
      </div>
      <div class="car-actions">
        <button nzSize="small" nz-button nzType="primary" class="book-button"
          [routerLink]="'/customer/book/' + car.id">Book</button>
      </div>
    </div>
  </div>
</div>
